{% extends 'index.html' %}
	{% block head %}
		<title>MainLog</title>
	{% endblock %}
{% block content %}
<form method="POST" action="">
	<table style="color: white">
		<tr>
			<td></td>
			<td>Email</td>
			<td>:</td>
			<td><input type="text" name="email" width="400px"></td>
		</tr>
		<tr>
			<td></td>
			<td>Password</td>
			<td>:</td>
			<td><input type="password" name="password" width="400px"></td>
		</tr>
		<tr>
			<td colspan="4" style="padding-left: 210px;"><input type="submit" name="Login" value="Login"></td>
		</tr>
	</table>
	{% csrf_token %}
</form>
<h1 style="color:white;">{{pass}}</h1>
{% endblock %}