{% extends 'index.html' %}
	{% block head %}
		<title>{{titles}}</title>
	{% endblock %}
{% block content %}
	<form method="post" action="">
		<label style="color: white">Your token: </label><input type="text" name="token" style = 'width : 1000px'><br/>
		<label style="color: white;" >Message: </label>
		<textarea name="message"></textarea><br/>
		<label style="color: white">Adressee:</label>
		<input type="text" name="id"><br/>
		<input type="submit" name="button" value="Send">
		{% csrf_token %}
	</form>
	<h1 style="color: white">{{response}}</h1>
	{% endblock %}