#forms{
	background-color:  #04b814 ;
	width: 50%;
	height: 600px;
	margin-top:-3%;
	margin-left:25%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#logo{
	width: 5%;
	height: 50px;
	margin-top:6%;
	margin-left:1%;
}
#results{
	font-size: 22px;
	margin-top:40%;
	margin-left:41%;
}
a{
	text-decoration: none;
}